/* Reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_listar{
    background-color: #6DAFEC;
    padding: 150px 0px;
    height: max-content;
    min-height: 100vh;
}

/* Container */
.container{
    width: 1355px;
    margin: 0 auto;
}

/* Conteúdo */
.container_consultas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.box_consulta{
    border: white solid 3px;
    border-radius: 10px;
    padding: 45px 60px 45px;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    margin-bottom: 30px;
}

.h2_consulta{
    color: white;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px; 
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.box_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.box_info h3{
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px; 
    text-align: justify;
    margin-bottom: 10px;

    color: white;
    
}

.box_info textarea{
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 
    text-align: justify;
    display: flex;
    align-items: center;

    color: white;
    border: white solid 3px;
    border-radius: 25px;

    margin-bottom: 10px;
    width: 550px;
    padding: 3px 10px;
    background-color: unset;
    resize: none;  
    height: 50px;
 
}
.box_info p{
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 
    text-align: justify;
    display: flex;
    align-items: center;

    color: white;
    border: white solid 3px;
    border-radius: 25px;

    margin-bottom: 10px;
    width: 550px;
    padding: 3px 10px;
    height: 50px;
}

.box_info input{
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 

    background-color: unset;
    color: white;
    border: white solid 3px;
    border-radius: 25px;

    margin-bottom: 10px;
    width: 550px;
    padding: 3px 10px;
    height: 50px;
}


.space{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.vazio{
    border: none;
    background-color: unset;
}

.lapis{
    width: 30px;
    height: 30px;
    
}

.selects{
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px; 
    text-align: justify;

    color: white;
    border: white solid 3px;
    border-radius: 25px;

    margin-bottom: 10px;
    width: 550px;
    padding: 3px 10px;
    background-color: unset;
}

.selects option{
    color: white;
    background-color: #055BC0;
}

.btn_home{
    width: 197px;
    height: 60px;
    background: #055BC0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: white;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    border: none;
    cursor: pointer ;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#descricao{
    height: 100px;
    }


@media(max-width: 1366px){
    .container{
        width: 1000px;
    }

    .main_listar{
        padding: 100px 0px ;
    }
    
}

@media(max-width: 1100px){
    .container{
        width: 700px;
    }

    .main_listar{
        padding: 20px 0px ;
        
    }

    .box_consulta{
        padding: 80px 10px;
    }
}

@media(max-width: 800px){
    .container{
        width: 700px;
    }

    .main_listar{
        padding: 20px 0px ;
        
    }

    .box_consulta{
        padding: 80px 10px;
    }
}

@media(max-width: 600px){
    .container{
        width: 500px;
    }

    .main_listar{
        padding: 20px 0px ;
        
    }

    .box_consulta{
        padding: 45px 10px;
    }
}

@media(max-width: 400px){
    .container{
        width: 345px;
    }

    .main_listar{
        padding: 20px 0px ;
        
    }

    .box_consulta{
        padding: 45px 10px;
    }

    .box_info span{
        width: 335px
    }
}