@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
/* Reset da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Container */
.container{
    width: 1355px;
    margin: 0 auto;
}

#ponto_blue{
    color:#0C8AF7 ;
}

/* Conteúdo */
.main_home{
    background-image: url(../img/fundo.png);
    height: 998px;
}

.cor_Home{
    background-color: rgba(65, 65, 65, 0.65);
    height: 998px;

    padding-top: 100px;
}

.h1_home{
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 70px;

    width: 700px;
}

.texto_sobre_nos{
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    text-align: justify;

    margin-top: 175px;
    width: 700px;
    }


@media(max-width: 1366px){
    .container{
        width: 1000px;
    }
}

@media(max-width: 800px){
    .container{
        width: 500px;
    }

    .main_listar{
        padding: 20px 0px ;
    }

    .h1_home{
        color: white;
        font-family: 'Sen', sans-serif;
        font-size: 70px;
        text-align: justify;
    
        width: 500px;
    }

    .texto_sobre_nos{
        color: white;
        font-family: 'Sen', sans-serif;
        font-size: 30px;
        text-align: justify;
    
        margin-top: 140px;
        width: 500px;
        }
}

@media(max-width: 400px){
    .container{
        width: 345px;
    }

    .h1_home{
        width: 360px;
        font-size: 50px;
    }

    .texto_sobre_nos{
        font-size: 25px;
        width: 360px;
    }

    /* .main_home{
        height: 1500px;
        background-repeat: no-repeat;
    }

    .cor_Home{
        height: 1500px
    } */
}